
MvcDemo/.vs/MvcDemo/v15/.suo
MvcDemo/packages
MvcDemo/MvcDemo/bin
MvcDemo/MvcDemo/obj
MvcDemo/MvcDemo/MvcDemo.csproj.user
MvcControllers/.vs/MvcControllers/v15/.suo
MvcControllers/packages
MvcControllers/MvcControllers/bin
MvcControllers/MvcControllers/obj
MvcControllers/MvcControllers/MvcControllers.csproj.user
